<% issue_credentials_pages = sitemap.resources.find {|resource| resource.path == "issue-credentials/index.html" }.children %>

<% content_for :sidebar do %>
  <a href='/' class="toc__back-link govuk-link">&lsaquo; About</a>
  <%= render_page_tree issue_credentials_pages, current_page, config, nil %>
<% end %>

<% wrap_layout :core do %>
  <%= yield %>
  <% content_for(:toc_module, "in-page-navigation") %>
<% end %>
