<% issue_credentials_pages = sitemap.resources.find {|resource| resource.path == "issue-credentials/index.html" } %>
<% content_for :sidebar do %>
  <a href='/' class="toc__back-link govuk-link">&lsaquo; GOV.UK Wallet documentation</a>
  <% 
    # the tech-docs gem seems to ignore the resource and only include the children when collating the ToC
    # I think this comes from here https://github.com/alphagov/tech-docs-gem/blob/main/lib/govuk_tech_docs/table_of_contents/helpers.rb#L35
    # keeping the max heading at 2 means anchor links become corrupted and don't work. Potentially need to look at extending the tech docs gem
    # to better handle layouts
    page_config = config
    page_config[:tech_docs][:max_toc_heading_level] = 1 %>

  <%= render_page_tree [issue_credentials_pages], current_page, page_config, nil %>
<% end %>

<% wrap_layout :core do %>
  <%= yield %>
  <% content_for(:toc_module, "in-page-navigation") %>
<% end %>
