<% verify_credentials_pages = sitemap.resources.find {|resource| resource.path == "verify-credentials/index.html" } %>
<% content_for :sidebar do %>
  <a href='/' class="toc__back-link govuk-link">&lsaquo; GOV.UK Wallet documentation</a>
  <%= render_page_tree verify_credentials_pages.children, current_page, config, nil %>
<% end %>

<% wrap_layout :core do %>
  <%= yield %>
  <% content_for(:toc_module, "in-page-navigation") %>
<% end %>
