<% verify_credentials_pages = sitemap.resources.find {|resource| resource.path == "verify-credentials/index.html" } %>
<% content_for :sidebar do %>
  <a href='/' class="toc__back-link govuk-link">&lsaquo; GOV.UK Wallet documentation</a>
  <% 
    page_config = config
    page_config[:tech_docs][:max_toc_heading_level] = 1 %>
  <%= render_page_tree [verify_credentials_pages], current_page, page_config, nil %>
<% end %>

<% wrap_layout :core do %>
  <%= yield %>
  <% content_for(:toc_module, "in-page-navigation") %>
<% end %>
