## Documentation updates

<p>These are the most recent changes to the GOV.UK Wallet technical documentation.</p>

| Publication date | Update                                                                                                                                                                                                                                                                                                                                            |
|------------------|------------------------------------------------------------------------------------------|
| Apr 23 2025      | Restructure 'What GOV.UK Wallet does, and how it works' into a '[GOV.UK Wallet](index)' introductory page and a '[How GOV.UK Wallet works](issuing-credentials-to-wallet)' page. Remove 'Understand GOV.UK Wallet's credential exchange flow' page, and move issuance flow diagram and steps into the new '[How GOV.UK Wallet works](issuing-credentials-to-wallet)' page.
| Apr 16 2025      | Begin recording changes in a changelog                                                   |