## Documentation updates

<p>These are the most recent changes to the GOV.UK Wallet technical documentation.</p>

| Publication date | Update                                                                                                                                                                                                                                                                                                                                            |
|------------------|------------------------------------------------------------------------------------------|
| Apr 16 2025      | Begin recording changes in a changelog                                                   |