---
title: Use GOV.UK Wallet to verify credentials in person
weight: 15
last_reviewed_on: 2025-12-19
review_in: 6 months
---

# Use GOV.UK Wallet to verify credentials in person







## Understand GOV.UK Wallet's in-person sharing flow

<div aria-hidden="true">
<script type="module">
  import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.esm.min.mjs';
</script>

<html lang="en">
  <body>
    <pre class="mermaid">
  sequenceDiagram
  autonumber

  actor user as Credential Holder
  participant app as GOV.UK One Login App
  participant vapp as Verifier App
  actor verifier as Verifier
  
  user->>app: Opens app to present their information
  app->>app: Begins device engagement, generates QR code
  verifier->>vapp: Opens verifier app on their device
  vapp->>app: Scans QR code on credential holder's device
  vapp->>app: Begins session establishment, sends session public key
  vapp<<->>app: Establish secure connection, create unique session key
  vapp->>app: Sends presentation request
  app->>user: Asks for credential holder consent
  user->>app: Gives consent to share
  app->>vapp: Sends presentation containing credential holder information
  vapp->>vapp: Checks presentation, signature, issuer and credential validity
  vapp->>verifier: Displays confirmation

  </pre>
    <script type="module">
      import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.esm.min.mjs';
    </script>
  </body>
</html>
</div>