name: AWS build and deploy

on:
  #schedule:
  #  - cron: '00 6 * * *' # deploy at 6am to get updated readmes - @todo as not working without different commit sha
  workflow_dispatch:
  push:
    branches:
      - main

defaults:
  run:
    shell: bash

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Check out repository code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Install Ruby
        uses: ruby/setup-ruby@90be1154f987f4dc0fe0dd0feedac9e473aa4ba8 # pin@v1.286.0
        with:
          bundler-cache: true
      - name: Install Gems
        run: bundle install

      - name: Build
        run: bundle exec middleman build --verbose
      - name: Upload to ECR and tag
        uses: govuk-one-login/devplatform-upload-action-ecr@f82c8774a6390f200b15112b3cbb9faf3442173c # pin@1.5.0
        with:
          role-to-assume-arn: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          container-sign-kms-key-arn: ${{ secrets.CONTAINER_SIGN_KMS_KEY }}
          ecr-repo-name: ${{ secrets.ECR_REPOSITORY }}
          artifact-bucket-name: ${{ secrets.ARTIFACT_BUCKET }}
          dockerfile: './DockerfileAWS'
          checkout-repo: false
