name: Release

on:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  create-release:
    name: Create release
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - name: Check out repository code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0

      - name: Get latest tag
        id: get_tag
        run: echo "version=$(git describe --tags --abbrev=0)" >> "$GITHUB_OUTPUT"

      - name: Create semantic release
        uses: cocogitto/cocogitto-action@9a9fe03b31c47444290c0d7f9b1ee1b44ee13f20 # v4.1.0
        id: release
        with:
          command: bump
          args: --auto
          git-user: 'github-actions[bot]'
          git-user-email: 'github-actions[bot]@users.noreply.github.com'

      - name: Check if version was bumped
        id: created
        run: |
          prev=${{ steps.get_tag.outputs.version }}
          new=${{ steps.release.outputs.version }}
          
          if [ "$prev" = "$new" ]; then
            echo "bump=false" >> "$GITHUB_OUTPUT"
          else
            echo "bump=true" >> "$GITHUB_OUTPUT"
          fi

      - name: Push semantic version tag
        if: steps.created.outputs.bump == 'true'
        run: git push --follow-tags && git push --tags
        shell: bash

      - name: Create GitHub release
        if: steps.created.outputs.bump == 'true'
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          tag_name: ${{ steps.release.outputs.version }}
          draft: false
          prerelease: false
          generate_release_notes: true

      - name: Log release info
        if: steps.created.outputs.bump == 'true'
        run: |
          echo "New release created: ${{ steps.release.outputs.version }}"